:root {

	/* Breakpoints */
	--bp-2xs: 375px;
	--bp-xs:  480px;
	--bp-sm:  600px;
	--bp-md:  720px;
	--bp-lg:  900px;
	--bp-xl:  1024px;
	--bp-2xl: 1280px;

	/* Container calculations */
	--content-side-margins: 32px;

	--actual-max-width: 1280px; /* What we want the max width to work out to, margins included */
	--content-max-width: calc(var(--actual-max-width) - (var(--content-side-margins) * 2));
	
	--content-section-vertical-padding: var(--sp-1600);
}

@media only screen and (max-width: 720px) {
  :root{--content-side-margins: 24px;}  
}

@media only screen and (max-width: 480px) {
  :root{--content-side-margins: 16px;}
}