$line-height-primary: 1.4;
$font-family-primary: neue-haas-grotesk-text, Helvetica, Arial, sans-serif;
$font-family-primary-headings: neue-haas-grotesk-display, Helvetica, Arial, sans-serif;

body {
	color: $black;
	font-family: $font-family-primary;
	line-height: $line-height-primary;
	//text-rendering: optimizeLegibility; // This is a performance drag, and causes blank text in older WebKit Windows browsers
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-primary-headings;
	font-weight: 600;
	line-height: 1.25;
}

h1 {
	@include rem-first(font-size, 1.75);
}

h2, h3, h4, h5, h6 {
	margin: 15px 0 10px;

	a {font-weight: 600;}
}

h2 {
	@include rem-first(font-size, 1.29);
}

h3 {
	@include rem-first(font-size, 1.14);
}

h4 {
	@include rem-first(font-size, 1);
}

h5 {
	@include rem-first(font-size, 0.85);
}

h6 {
	@include rem-first(font-size, 0.85);
}

/* Page / Post Content typography */
.post,
.entry-content,
.comment-content,
.mu_register {

	ul { 
		list-style: disc outside;
		margin: 0 0 1.715rem; 
	}

	ol { 
		list-style: decimal outside none; 
		margin: 0 0 1.715rem;
	}

	ul ul, ol ol, ol ol, ul ol, ol ul { margin-bottom: 0; }
	
	li {
		margin: 0 0 8px 2.25rem;
		line-height: 1.5em;

		ol, ul {
			padding-top: 8px;
		}
	}

	ul.arrows li{
		list-style: none !important;
	}

	p {
		margin: 0 0 24px;
		line-height: 1.7;
	}
}


a {
	color: $brand-primary;
	text-decoration: none;
	&:hover {
		color: $brand-primary-accent;
		text-decoration: underline;
	}
}

.content a {
	color: $brand-primary;
	text-decoration: underline;
	&:hover {
		color: $brand-primary-accent;
		text-decoration: none;
	}
}

.caption {
	color: #555;
	font-size: 0.875em;
	font-weight: 300;
	@include bp-tablet--portrait {
		font-size: 1.0625em;
	}
}

.error-load {
	font-size: 1em;
	font-weight: 300;
	margin: 1em auto;
	text-align: center;
}
