/* Adjustments to existing navigation */
header.header-main {
  > nav:first-child {
      display: none;

      @media only screen and (max-width: 569px) {
        display: block;
      }

    }

  .header-left, .header-right {
    display: flex;
  }

  .header-right {
    gap: var(--sp-800);

    @media only screen and (max-width: 569px) {
      gap: var(--sp-400);

      a.hidden-non-mobile {
        margin-left: 0;
        margin-right: 0;
      }
    }

    nav h2 {
      margin-bottom: 0;
    }
  }

  h1.name-site {
    margin-left: 0;
  }

  a {text-decoration: none;}


  /* Desktop style fixes */
  @media only screen and (min-width: 569px) {
    /* Style fixes to override old logo sizing for desktop sizes */
    .link-logo-mit {
      max-width: 74px; 
    }

    .name-site {max-width: 104px;}
    .logo-mit-lib svg {max-height: 44px;}

    /* Adjust navigation item sizing to new base font size */
    .nav-main .main-nav-link {
      padding-left: var(--sp-200);
      padding-right: var(--sp-200);
      padding-bottom: var(--sp-500);
    }

    .link-primary.small a {padding-top: 30px;}

    .link-primary.chat #collapsible--1 {
      width: 150px;

      a {font-size: var(--font-size-xs);}
    }
  }

  
  /* Mobile style fixes */
  @media only screen and (max-width: 568px) {
    
    padding-left: 0 !important;
    
    button.menu--toggle {
      width: 51px;
      padding: 14.85px;
    }
    
    .logo-mit-lib {
      padding: 26px 8px 8px 8px;
    }
    .logo-mit-lib svg {max-height: 28px;}

    a.hidden-non-mobile {
      font-size: 12px;
      font-weight: 400;
      padding: 6.4px;

      i {width: 100%;}
    }
  }

}

.header-wrapper {
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  width: 100%;

  > header {
    max-width: var(--content-max-width);
    padding-left: calc(var(--content-side-margins) - 8px);
    padding-right: calc(var(--content-side-margins) - 8px);		
  }

  .header-right {
    justify-content: flex-end;
    flex-grow: 1;
  }

}