body.v2-page {
	background-color: var(--color-black);

	#content {
		background-color: var(--color-white);
	}

}

.wrap-page.full-width {
	width: 100%;
	max-width: 100%;
}

.content-wrapper, main#content > section {
	display: flex;
	justify-content: center;
	width: 100%;
}

main#content > section {
	padding-top: var(--content-section-vertical-padding);
	padding-bottom: var(--content-section-vertical-padding);

	.content-wrapper {
		max-width: var(--content-max-width);
		text-align: left;
		justify-content: flex-start;

		padding-left: var(--content-side-margins);
		padding-right: var(--content-side-margins);
	}

}
